.hero {
    margin-top: 180px;
    padding-left: 77px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-size: 172px;
    font-weight: 400;
    line-height: 170px;
    letter-spacing: -2px;
    text-align: left;
    text-transform: uppercase;
    max-width: 883px;
    color: var(--primary-text);
}

.hero__description {
    margin-top: 46px;
    font-family: 'Inter', sans-serif;
    color: var(--transparent-text);
    max-width: 560px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}

.hero__button {
    max-width: 200px;
    margin-top: 50px;
    padding: 24px 25px 24px 25px;
    border-radius: 10px;
    background-color: var(--button);
    border: transparent;
    font-size: 18px;
    font-weight: 600;
    color: white;
}

.hero__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.hero__absolute-img-wrapper {
    max-width: 409px;
    position: absolute;
    top: 57px;
    left: 719px;
}

.hero__img-wrapper {
    margin-top: 112px;
}

.advertisment-card {
    position: absolute;
}

.ad-one {
    top: -25px;
    right: -60px;
}

.ad-two {
    left: -123px;
    bottom: 225px;
}

.ad-three {
    right: -127px;
    bottom: 123px;
}

@media (max-width: 1260px) {
    .hero {
        position: static;
    }

    .advertisment-card {
        display: none;
    }

    .hero__absolute-img-wrapper {
        position: static;
        top: 0;
        left: 0;
        order: -1;
    }

    .hero__title {
        order: -2;
    }
}

@media (max-width: 900px) {
    .hero {
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }

    .hero__title {
        text-align: center;
        font-size: 96px;
        line-height: 120px;
    }

    .hero__img-wrapper img {
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 460px) {
    .hero__absolute-img-wrapper {
        display: none;
    }

    .hero__title {
        font-size: 64px;
        line-height: 110px;
    }
}
